body {
    background-color: #4f97a3;
    color:white;
    font-family: 'Trebuchet MS', sans-serif;
}

label {
    margin-bottom: 3px;
    display: block;
}


.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.name-container {
    top: 5px;
    right: 5px;
}

.login-container {
    background-color: rgba(79, 151, 131, 0.8);
    border: 2px black solid;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}
    
.login-container input[type="email"],
.login-container input[type="text"],
.login-container input[type="submit"],
.login-container button {
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: white;
    /* Add a background color if needed */
    color: black;
    /* Add text color */
    cursor: pointer;
    /* Show pointer cursor for buttons */
}


.login-container input[type="submit"]:hover,
.login-container button:hover {
    background-color: #e0f7ef;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.login-container input[type="submit"]:focus,
.login-container button:focus {
    outline: none;
    border-color: #4f9783;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}